

{% block aside %}

<!-- /********************************* RESULTS *********************************/ -->
<div class="filtre">
        <h2>Catégories</h2>
            <label><input type="checkbox">Polar</label><br>
            <label><input type="checkbox">Historique</label><br>
            <label><input type="checkbox">Tranche de vie</label><br>
            <label><input type="checkbox">Aventure</label><br>
            <label><input type="checkbox">Jeunesse</label><br>
            <label><input type="checkbox">Fantastique</label><br>

        <h2>Disponibilité</h2>
         <label><input type="checkbox">Disponibles</label><br>
        <label><input type="checkbox">Indisponibles</label><br>
        <h2>Recherche</h2>
        <div class="asidevalid">
        <input type="text" placeholder="mots-clefs">
        <input type="submit" value="ok">
        </div>
    </div>
{% endblock %}    